.accordion-container {
  width: 600px;
  margin: 50px auto;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(158, 80, 231);
  color: #fff;
  cursor: pointer;
}

.item {
  margin-bottom: 10px;
}

.answer {
  padding: 10px;
  background-color: rgb(158, 80, 231);
  color: #fff;
}
